/*--------------------*/
/*--- MAIN STYLINGS---*/
/*--------------------*/

.reg_errors, .login_errors, .secret_errors {
    background-color: red;
    color: white;
    padding: 10px;
}

.logout_succ {
    background-color: green;
    color: white;
    padding: 10px;
}
